<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mytokendemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mytokendemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myTokendemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myTokendemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="demoDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CottonCandy.DLL.demoDBEntities, CottonCandy.DLL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC5_full_version.Models.ApplicationDbContext, MVC5_full_version" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CottonCandy.DLL.demoDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="StructDatabaseDevEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/StruDbModel.csdl|res://*/StruDbModel.ssdl|res://*/StruDbModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StructDatabaseDevEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/StructureModel.csdl|res://*/StructureModel.ssdl|res://*/StructureModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StructDatabaseDevEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/StruDbModel.csdl|res://*/StruDbModel.ssdl|res://*/StruDbModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="demoDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DemoModel.csdl|res://*/DemoModel.ssdl|res://*/DemoModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:dashboarddemo.database.windows.net,1433;Initial Catalog=dashboardDemo;Persist Security Info=False;User ID=sqluser;Password=Demo1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>