@model IEnumerable<CottonCandy.DLL.Models.NetworkViewModel>
@{
    ViewBag.Title = "Network";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function (    ) {
        
        GetFirstLevelReferal();/*GetSecondLevelReferal()*/
       
    });
        function GetFirstLevelReferal() {
            $.ajax({
               
                cache: 'false',
                url: '/Network/FirstLevelRef',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (response, textStatus, jqxhr) {
                    //console.log(response);
                    $("#firstRef").html(response);
                    alert("first one");
                    //alert('reached');
                    //  $('#example').dataTable();

                },
                failure: function (response) {
                    alert(response.responseText + d);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
       
    
</script>

<div class="pageheader">
    <h1>Your Network</h1>

    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li class="active">Network</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInUp">
    <div class="row">
        <div class="col-md-12">
            <div id="firstRef">
             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*@Html.Partial("/Views/Network/_ReferalLinksViewPartial.cshtml")*@
            <div id="secondRef"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*@Html.Partial("/Views/Network/_ReferalLinksViewPartial.cshtml")*@
            <div id="thirdRef"></div>
        </div>
    </div>

</section>


@section Styles {
    @Styles.Render("~/plugins/dataTablesCSS")
}

<!--Load these page level functions-->
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataTables-bootstrap")

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


}